<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-cordovapluginaggregator" version="0.0.1">

  <name>Cordova Plugin Aggregator</name>

  <description>
    Test plugin to test how to reference multiple plugins in one plugin.
  </description>

  <author>João Figueiredo</author>

  <license>Unlicense</license>

  <keywords>Cordova Plugin Aggregator</keywords>

  <repo>https://github.com/JFIOutsystems/CordovaPluginAggregator.git</repo>

  <issue>https://github.com/JFIOutsystems/CordovaPluginAggregator/issues</issue>
  

        
 <!-- ios -->
    <platform name="ios">
	    
	        
        <!-- iOS9 whitelisting -->
        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>slack</string>
                <string>com.outsystems.os01</string>
                <string>com.outsystems.os02</string>
                <string>com.outsystems.os03</string>
                <string>com.outsystems.os04</string>				
                <string>com.outsystems.os05</string>
                <string>com.outsystems.os06</string>
                <string>com.outsystems.os07</string>
                <string>com.outsystems.os08</string>
                <string>com.outsystems.os09</string>
				
                <string>com.outsystems.os10</string>
                <string>com.outsystems.os11</string>
                <string>com.outsystems.os12</string>
                <string>com.outsystems.os13</string>
                <string>com.outsystems.os14</string>				
                <string>com.outsystems.os15</string>
                <string>com.outsystems.os16</string>
                <string>com.outsystems.os17</string>
                <string>com.outsystems.os18</string>
                <string>com.outsystems.os19</string>
				
		<string>com.outsystems.os20</string>
                <string>com.outsystems.os21</string>
                <string>com.outsystems.os22</string>
                <string>com.outsystems.os23</string>
                <string>com.outsystems.os24</string>				
                <string>com.outsystems.os25</string>
                <string>com.outsystems.os26</string>
                <string>com.outsystems.os27</string>
                <string>com.outsystems.os28</string>
                <string>com.outsystems.os29</string>
				
                <string>com.outsystems.os30</string>
                <string>com.outsystems.os31</string>
                <string>com.outsystems.os32</string>
                <string>com.outsystems.os33</string>
                <string>com.outsystems.os34</string>				
                <string>com.outsystems.os35</string>
                <string>com.outsystems.os36</string>
                <string>com.outsystems.os37</string>
                <string>com.outsystems.os38</string>
                <string>com.outsystems.os39</string>
								
                <string>com.outsystems.os40</string>
                <string>com.outsystems.os41</string>
                <string>com.outsystems.os42</string>
                <string>com.outsystems.os43</string>
                <string>com.outsystems.os44</string>				
                <string>com.outsystems.os45</string>
                <string>com.outsystems.os46</string>
                <string>com.outsystems.os47</string>
                <string>com.outsystems.os48</string>
                <string>com.outsystems.os49</string>
            </array>
        </config-file>
    </platform>

     
  <dependency id="cordova-plugin-inappbrowser" url="https://github.com/OutSystems/cordova-plugin-inappbrowser" commit="3.1.0-OS3" version="3.1.0-OS3" /> 
  
  <dependency id="cordova-plugin-app-launcher" url="https://github.com/OutSystems/cordova-plugin-app-launcher"  commit="v0.4.2" version="0.4.0" />

<!--   <dependency id="outsystems-phonegap-plugin-push" url="https://github.com/OutSystems/outsystems-phonegap-plugin-push"  commit="2.2.0-os" version="2.2.0-os" /> -->
  
  <dependency id="phonegap-plugin-push" url="https://github.com/JFIOutsystems/outsystems-phonegap-plugin-push"/>
  
  <dependency id="cordova-plugin-cookieemperor" url="https://github.com/OutSystems/cordova-cookie-emperor" commit="1.0" version="1.0.0" />

  <dependency id="cordova-plugin-badge" url="https://github.com/OutSystems/cordova-plugin-badge" commit="0.8.8" version="0.8.8" />
	
</plugin>
